#include <winres.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION    3, 0, 0, 1
PRODUCTVERSION 3, 0, 0, 1
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x4L
FILETYPE 0x1L
FILESUBTYPE 0x0L
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "CompanyName", "Lumito, www.lumito.net\0"
            VALUE "FileDescription", "A tool to compile Arduino Pro IDE Setup\0"
            VALUE "FileVersion", "3.0.0.1\0"
            VALUE "InternalName", "ISCompil\0"
            VALUE "LegalCopyright", "© 2020, Lumito\0"
            VALUE "ProductName", "ISCompiler\0"
            VALUE "ProductVersion", "3.0.0.1\0"
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1200
    }
}